/* Styles généraux */
body {
    max-width: 1440px;
    max-height: 1024px;
    margin: auto;

    font-family: 'Inter', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

header {
    height: 164px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #207FEE;
}

.navigation-links {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
}

.active-navigation-link {
    color: #207FEE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

/* Conteneur du formulaire */
.form-container {
    width: 500px;
    height: 688px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #F69F1D;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 66px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transfer-form {
    display: flex;
    justify-content: center;
    gap: 42px;
}
/* Champs du formulaire */
input, select {
    width: 263px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 24px;
    font-weight: 700;
    color: #828282;
}

.login-input {
    margin-bottom: 21px;
}

.transfer-select {
    width: 363px;
    appearance: none;
    background: url(../css/assets/chevron-down.svg) no-repeat right #fff;
}

.success-message {
    display: flex;
    justify-content: center;
    color: forestgreen;
}

.error-message {
    display: flex;
    justify-content: center;
    color: crimson;
}
/* Bouton */
button {
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

.blue-button {
    background: #207FEE;
}

.blue-button:hover {
    background: #1866c4;
}

.orange-button {
    background: #F69F1D;
}

.orange-button:hover {
    background: #c68315;
}

.login-button {
    display: block;
    margin-top: 102px;
    gap: 8px;
    width: fit-content;
}

.transfer-button {
    margin-right: 47px;
}

/* Accessibility */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*Transactions table */
.account-balance {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.account-balance p {
    margin-top: 0;
}

.transactions-heading {
    color: #000;
    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    margin-top: auto;
}

.transactions-table {
    width: 1311px;
    height: 426px;
    flex-shrink: 0;
    margin: 50px auto 0 auto;
    padding: 19px 24px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
}

.transactions-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.transactions-table th {
    text-align: left;
}

.transactions-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;
}

.transactions-table tbody tr {
    height: 60px;
}

.transactions-table tbody tr {
    border-top: 1px solid #E0E0E0;
}

/* Profile */
/* Container pour le tableau et le bouton, alignés pour que le bouton soit en bas à droite */
.profile-info-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px; /* espace entre le tableau et le bouton */
    height: 40vh;
}
/* Styles du tableau de profil */
.profile-info-table {
    border-collapse: collapse;
}
.profile-info-table td {
    text-align: left;
    padding: 8px 4px;
}
/* Style spécifique aux labels */
.profile-label {
    width: 156px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
}

/* Ajouter une relation */
.add-relation-form {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
}

.add-relation-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.add-relation-input {
    width: auto;
}

