<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une relation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav><a th:href="@{/transfer}">Pay My Buddy</a>
        <div class="navigation-links">
            <a th:href="@{/transfer}">Transférer</a>
            <a th:href="@{/profil}">Profil</a>
<!--            TODO Le laisser en bleu-->
            <a th:href="@{/add-relation}">Ajouter une relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </div>
    </nav>
</header>
<div>
    <form th:action="@{/add-relation}" method="post" class="relation-form">
        <label for="email">Chercher une relation</label>
        <input type="email" id="email" name="email" placeholder="Saisir une adresse mail" required>
        <button type="submit">Ajouter</button>
    </form>
<!--    TODO le mettre en vert -->
    <div th:if="${message}" class="success-message">
        <p th:text="${message}"></p>
    </div>
<!--    TODO le mettre en rouge-->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>

</body>
</html>