<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="logo">
            <span>Pay My Buddy</span>
        </div>
        <form th:action="@{/login}" method="post">
            <input type="email" name="email" placeholder="Mail" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
        <p th:text="${test}"></p>
    </div>
</div>
</body>
</html>
