<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="form-container">
        <div class="logo">
            <span>Pay My Buddy</span>
        </div>
        <form th:action="@{/register}" method="post" class="login-form">
            <input type="text" name="username" placeholder="Username" class="login-input" required>
            <input type="email" name="email" placeholder="Mail" class="login-input" required>
            <input type="password" name="password" placeholder="Mot de passe" class="login-input" required>
            <button type="submit" class="login-button">S'inscrire</button>
        </form>
    </div>
</div>
</body>
</html>
