<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav><a th:href="@{/transfer}">Pay My Buddy</a>
        <div class="navigation-links">
<!--           TODO Le laisser en bleu-->
            <a th:href="@{/transfer}">Transférer</a>
            <a th:href="@{/profil}">Profil</a>
            <a th:href="@{/add-relation}">Ajouter une relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </div>
    </nav>
</header>
<div>
    <form th:action="@{/transfer}" method="post" class="transfer-form">
        <select name="relation" class="transfer-select" required>
            <option value="">Sélectionner une relation</option>
            <option th:each="relation : ${connections}"
                    th:value="${relation.id}"
                    th:text="${relation.username}">
            </option>
        </select>
        <input type="text" name="description" placeholder="Description" required>
        <input type="number" name="amount" placeholder="0€" min="0" step="0.01" required>
        <button type="submit">Payer</button>
    </form>

    <!-- Tableau récapitulatif des transactions -->
    <div class="transactions-table">
        <h2>Mes transactions</h2>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Relations</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <!-- Pour chaque transaction, on affiche la relation (ici, on suppose que la transaction possède une référence à la relation bénéficiaire), sa description et son montant -->
            <tr th:each="transaction : ${transactions}">
                <!-- Si l'ID du compte émetteur est égal à currentAccountId, c'est un envoi -->
                <td th:text="${transaction.sender.id == currentAccountId ? 'Envoyé' : 'Reçu'}">Type</td>
                <td th:text="${transaction.receiver.owner.username}">Relation</td>
                <td th:text="${transaction.description}">Description</td>
                <td th:text="${transaction.amount + '€'}">Montant</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
