<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a th:href="@{/transfer}">Pay My Buddy</a>
        <div class="navigation-links">
            <!-- Lien vers la page de transfert, actif par défaut -->
            <a th:href="@{/transfer}" aria-current="page">Transférer</a>
            <a th:href="@{/profile}">Profil</a>
            <a th:href="@{/add-relation}">Ajouter une relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </div>
    </nav>
</header>
<main>
    <section>
        <form th:action="@{/transfer}" method="post" class="transfer-form">
            <label for="relation-select">Sélectionnez une relation</label>
            <select id="relation-select" name="relation" class="transfer-select" required>
                <option value="">Sélectionner une relation</option>
                <option th:each="relation : ${connections}"
                        th:value="${relation.id}"
                        th:text="${relation.username}">
                </option>
            </select>
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Description" required>
            <label for="amount">Montant</label>
            <input type="number" id="amount" name="amount" placeholder="0€" min="0" step="0.01" required>
            <button type="submit">Payer</button>
        </form>
    </section>

    <section class="transactions-table" aria-labelledby="transactions-heading">
        <h2 id="transactions-heading">Mes transactions</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Relation</th>
                <th scope="col">Description</th>
                <th scope="col">Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <!-- Si l'ID du compte émetteur est égal à currentAccountId, c'est un envoi -->
                <td th:text="${transaction.sender.id == currentAccountId ? 'Envoyé' : 'Reçu'}">Type</td>
                <td th:text="${transaction.receiver.owner.username}">Relation</td>
                <td th:text="${transaction.description}">Description</td>
                <td th:text="${transaction.amount + '€'}">Montant</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
